html, body {
    margin: 0;
    padding: 0;
}

.topInput {
	background: transparent;
	color: #e06d6d;
	outline: none;
	border: none;
	border-bottom: 3px solid;
	max-width: 100%;
	font-size: 1em;
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.bottomInput {
	background: transparent;
	color: #77e06d;
	outline: none;
	border: none;
	border-bottom: 3px solid;
	max-width: 100%;
	font-size: 1em;
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h1 {
	font-size: 1em;
	letter-spacing: 0.25em;
	margin-bottom: 0;
}

h2  {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.5em;
    letter-spacing: 0.2em;
}

a {
    margin-top: 0;
    font-size: 0.2em;
}

#header {
    margin-bottom: 0.35em;
}


#app {
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: black;
    
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3em;
    letter-spacing: 0.05em;
    overflow-wrap: break-word;

}

.filled {
    color: white;
}

.notFilled {
    color: gray
}